body {
    font-family: @fontFamily;
    font-size: @baseFontSize;
}
.button {
    font-family: @RobotoFont
}
header {
}
.top-header {
    background-color: @major_color;
    color: #fff;
    height: 40px;
    .hotline {
        line-height: 40px;
        p {
            display: flex;
            align-items: center;
            i {
                margin-right: 5px;
                font-size: 18px
            }
        }
    }
    .social {
        text-align: right;
        li {
            display: inline-block;
            & + li {
                margin-left: 10px;
            }
            a {
                line-height: 40px;
                color: #fff;
            }
        }
    }
}
.main-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    .logo {
        display: flex;
        height: 100%;
        align-items: center;
    }
}
.slider {
    height: 600px;
}

.search-tour {
    background-color: @major_color;
    padding: 20px 0 10px 0;
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    select, input {
        font-family: @PlayfairDisplayFont;
        font-style: italic;
        border-radius: 0;
        width: 200px;
        color: @text_color;
    }
    button {
        text-transform: uppercase;
        width: 170px;
        background-color: #ffcb05;
        color: @text_color;
        height: 40px;
        border: none;
        font: 700 16px @PlayfairDisplayFont;
    }
}
.value-box {
    display: flex;
    align-items: center;
    .value-img {
        margin-right: 15px;
    }
    .value-content {
        p {
            margin-bottom: 0
        }
    }
}

.block {
    padding-top: 50px;
    padding-bottom: 50px;
    .block-title {
        font-size: 1.75rem
    }
    .block-subtitle {
        a {
            color: #b4b4b4;
            font-size: 16px;
        }
    }
    .block-body {
        padding-top: 30px;
    }
    .owl-nav {
        position: absolute;
        top: -80px;
        right: 0;
        [class*=owl-] {
            border: 1px solid #333;
            background-color: transparent;
            padding: 0;
            span {
                display: block;
                .size(25px, 25px);
                line-height: 25px;
                font-size: 18px;
                .transition(all .3s);
            }
            &:not(.disabled) {
                span {
                    cursor: pointer;
                }
            }
            &:hover {
                background-color: @major_color;
                color: #fff;
                border-color: @major_color;
                span {
                }
            }
        }
        .disabled {
            opacity: 1;
            pointer-events: none;
        }
        .owl-prev {
            margin-right: 5px;
        }
    }
}
.block-tour {
    background: url(./../../images/bg_tour.jpg) center/cover no-repeat;
    position: relative;
    .block-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .block-body {
        .carousel {
            position: static;
        }
    }
    .block-title {
        color: #fff;
    }
    .block-subtitle {
        a {
            font-style: italic
        }
    }
    .owl-nav {
        position: static;
        top: auto;
        right: auto;
        [class*=owl-] {
            background-color: #4692e7;
            color: #fff;
            border: none;
            outline: none;
            &:focus {
                outline: none;
            }
            span {
                .size(50px, 50px);
                line-height: 50px;
                font-size: 28px
            }
        }
        .owl-prev {
            position: absolute;
            top: 50%;
            left: 0;
        }
        .owl-next {
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
}
.block-destination {
    background-color: #f5f5f5;
    padding-bottom: 0;
    .destination-item {
        position: relative;
        &:hover {
            .destination-detail {
                background-color: rgba(0, 0, 0, .4);
                .translate(0,0);
                .viewmore {
                    opacity: 1;
                }
            }
        }
    }
    .destination-detail {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px;
        border-bottom: 5px solid #00833e;
        .transition(all .3s);
        .translate(0, 30px);
        .title {
            font-size: 24px;
            color: #fff;
            margin-bottom: 10px;
            i {
                vertical-align: top;
                margin-right: 3px
            }
        }
        .viewmore {
            opacity: 0;
            padding: 3px;
            a {
                font-size: 16px;
                text-decoration: none;
                color: #ffcb05
            }
        }
    }
}
.our-value {
    background-color: #fff;
}
.tour-info {
    .nav {
        .nav-item {
            padding: 0;
            width: 100%;
            margin: 0 0 1px;
            .transition(all 0.3s linear);
            .nav-link {
                background: #f7f7f7;
                border-radius: 0;
                color: @text_color;
                line-height: 40px;
                font-size: @baseFontSize + 2;
                position: relative;
                i {
                    vertical-align: middle;
                    margin-right: 10px
                }
                &.active {
                    background-color: #ffcb05;
                    color: #fff;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        border-top: 28px solid transparent;
                        border-left: 30px solid #ffcb05;
                        border-bottom: 28px solid transparent;
                    }
                }
            }
        }
    }
    .tab-content {
        background-color: #f7f7f7;
        padding: 15px;
        border-left: 2px solid #ffcb05
    }
    .itinerary-wrap {
        .card {
            + .card {
                margin-top: 15px
            }
            .card-header {
                h5 {
                    font-size: 16px;
                    span {
                        font-weight: bold
                    }
                }
            }
        }
    }
}

// Tour item 
.tour-item {
    background-color: #fff;
    .tour-media {
        position: relative;
        >span {
            line-height: 1;
            z-index: 1;
            position: absolute;
            top: 20px;
            font-weight: 600;
            padding: 14px 20px 14px 30px;
            right: -10px;
            color: #fff;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                right: 0;
                border-top-width: 10px;
                border-top-style: solid;
                border-right: 10px solid transparent;
            }
            &.discount {
                background-color: #e50000;
                &:after {
                    border-top-color: #a30606
                }
            }
            &.new {
                background-color: #1fab1e;
            }
            .hot {
                background-color: #e85e34;
            }
        }
        img {
            max-width: 100%;
        }
    }
    .tour-detail {
        padding: 20px 15px;
        position: relative;
        p {
            margin-bottom: 0
        }
        .title {
            margin-bottom: 7px;
            a {
                color: #000;
                font-size: 18px;
            }
        }
        .rating {
            margin-bottom: 10px;
            span {
                color: #a1a1a1;
                font-size: @baseFontSize - 2;
            }
            .star {
                &.active {
                    color: #ffd707
                }
            }
        }
        .tour-duration {
            i {
                vertical-align: middle;
                color: #4692e7;
                font-size: 22px;
            }
        }
        .sale_price {
            font-size: @baseFontSize + 4;
            color: red;
            font-weight: bold;
        }
        .intro-text {
            color: lighten(@text_color, 40%)
        }
    }
    &.discount {
        .tour-detail {
            .base_price {
                text-decoration: line-through;
                color: #aaaaaa;
            }
        }
    }
    &:hover {
        .button {
            .translate(0,0);
            opacity: 1;
        }
    }
    &.horizontal {
        .tour-detail {
            .tour-title {
                padding-right: 70px;
            }
            .tour-price {
                position: absolute;
                top: 30px;
                right: 15px;
                text-align: right;
                p {
                    margin-bottom: 0
                }
            }
            .tour-duration {
                color: #999;
            }
        }
    }
    // Vertical class
    &.vertical {
        & + .tour-item {
            margin-top: 15px;
        }
        .wrap {
            display: flex;
        }
        .tour-media {
            max-width: 300px;
            .media-box {
                overflow: hidden;
            }
            img {
                .transition(all .3s);
                &:hover {
                    .scale(1.1)
                }
            }
            span {
                &.discount {
                    display: block;
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    width: 100px;
                    height: 102px;
                    color: #fff;
                    background: url(../../images/discount.png) no-repeat;
                    z-index: 1;
                    text-transform: uppercase;
                    letter-spacing: 0.04em;
                    padding: 0;
                    line-height: 70px;
                    &:after {
                        display: none;
                    }
                    .discount-text {
                        display: inline-block;
                        .rotate(-45deg);
                        transform: rotate(-45deg);
                        writing-mode: lr-tb;
                        .size(100%, 100%);
                        text-align: center;
                    }
                }
            }
        }
        .tour-detail {
            display: flex;
            padding: 5px;
            >div {
                padding: 10px;
                &:first-child {
                    border-right: 1px solid #e1e1e1;
                }
            }
            .rating {
                text-align: center;
                .rating-text {
                    display: block;
                }
            }
            .tour-price {
                display: flex;
                flex-direction: column;
                text-align: center;
                .base_price {
                    order: 1
                }
                .sale_price {
                    order: 0
                }
            }
            .tour-duration {
                color: @text_color;
                text-align: center;
                font-size: @baseFontSize - 1;
                i {
                    display: none;
                }
            }
        }
        .tour-destinations {
            padding: 5px 0;
            i {
                color: @hover_color;
                margin-right: 5px
            }
            span {
                & + span {
                    &:before {
                        content: "\f101";
                        margin: 0 5px;
                        font-family: FontAwesome;
                        font-size: 11px;
                    }
                }
            }
            a {
                color: lighten(@text_color, 20%);
                &:hover {
                    color: @major_color
                }
            }
        }
    }
    &.quickview {
        .tour-detail {
            padding: 0;
            .rating, .tour-duration {
                display: none
            }
            .tour-price {
                display: flex;
                align-items: center;
                p {
                    margin-bottom: 0;
                }
                .sale_price {
                    order: 1;
                    font-size: @baseFontSize + 2
                }   
                .base_price {
                    margin-left: 10px;
                    order: 2;
                }
            }
        }
    }
}

// Article lastest news block
.block-latest-news {
    position: relative;
    .inner {
        padding-right: 15px;
    }
    .background-content {
        position: absolute;
        top: 0;
        left: 15px;
        background-color: #f5f5f5;
        width: 65%;
        height: 100%;
    }
    .wrap {
        display: flex;
    }
    .article-media {
        padding: 30px 1px 30px 0;
        img {
            max-width: 100%;
        }
    }
    .article-detail {
        padding: 30px 15px;
        .title {
            font-size: 22px;
            padding-left: 75px;
            a {
                color: #000
            }
        }
        .info {
            font-size: 13px;
            color: #8e8e8e;
            padding-left: 75px;
            a {
                color: #8e8e8e;
                display: flex;
                align-items: center;
                i {
                    margin-right: 3px;
                }
                &:hover {
                    color: @major_color;
                }
            }
            i {
                font-size: 14px;
                vertical-align: middle
            }
        }
        .entry-date {
            position: absolute;
            top: 30px;
            left: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #fff;
            .entry-day {
                order: 1;
                font-size: 28px;
                color: @text_color;
                font-weight: bold;
            }
            .entry-month {
                order: 0;
                background-color: @major_color;
                color: #fff;
                font-size: @baseFontSize - 4;
                text-transform: uppercase;
                padding: 2px 3px;
            }
        }
    }
    .readmore {
        margin-top: 10px;
        a {
            display: inline-block;
            padding: 10px 15px;
            color: #fff;
            background-color: @major_color;
        }
    }
    .owl-nav {
        position: absolute;
        bottom: 15px;
        left: 20px;
        top: unset;
        [class*=owl-] {
            margin: 0;
            outline: none;
            &:hover {
                background: none;
            }
            &:not(.disabled):hover {
                span {
                    color: @major_color
                }
            }
            span {
                font-size: 46px;
                width: 20px;
                color: #8e8e8e;
            }
        }
    }
}
.block-subscribe {
    .title {
        margin-bottom: 15px;
    }
    .frm-subscribe {
        .wrap {
            position: relative;
        }
        .email-wrap {
            width: 100%;
        }
        .button-wrap {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            .btn-submit {
                background: unset;
                border: none;
                cursor: pointer;
                padding: 0 15px;
                display: flex;
                i {
                    font-size: 18px;
                }
            }
        }
        input[type="email"] {
            border-radius: 0;
            border: 2px solid #000;
        }
    }
}
// Operators block
.block-operator {
    background-color: #ebeef2;
    padding-top: 15px;
    padding-bottom: 15px;
    ul {
        li {
            filter: grayscale(1);
            .transition(all .3s);
            img {
                max-width: 200px;
            }
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
.carousel {
    .owl-item {
        img {
            max-width: 100%;
        }
    }
}


footer {
    .main-footer {
        background-color: #202020;
        color: #ababab;
        padding-top: 50px;
        padding-bottom: 50px
    }
    .block-copyright {
        background-color: #181818;
        color: #838383;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .title {
        margin-bottom: 30px;
        font-size: 1.25rem;
        color: #fff;
    }
    ul {
        li {
            margin-bottom: 5px;
            a {
                color: #fff;
                opacity: .7;
                .transition(all .3s);
                &:after {
                    font-family: FontAwesome;
                    content: "\f178";
                    opacity: 0;
                    .transition(all 0.5s ease);
                    margin-left: 5px;
                    font-size: 12px
                }
                &:hover {
                    text-decoration: none;
                    padding-left: 5px;
                    color: #00833e;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/*******************************
========== BREADCRUMDS =========
********************************/
.breadcrumbs-wrap {
    background-color: #f5f5f5;
    .breadcrumb {
        background-color: unset;
        padding-right: 0;
        padding-left: 0;
        li {
            position: relative;
            & + li {
                &:before {
                    content: "\f101";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin: 0 10px
                }
            }
            a {
                color: #646464;
            }
            &.active {
                opacity: .6;
            }
        }
    }
}
// Tour detail page
.tour_detail-wrap {
    .banner {
        height: 370px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .tour_intro-wrap {
        margin-bottom: 30px;
        .wrap {
            background-color: #f5f5f5;
        }
        .tour-title {
            font-size: 1.5rem;
            padding: 10px 15px;
            margin: 0;
        }
    }
    .tour_info-wrap {
        background-color: #fff;
        margin-bottom: 50px
    }
    .overview {
        margin-bottom: 30px;
        .tour-sale {
            .sale_price {
                color: #ff0000;
                font-weight: 600;
                font-size: 16px;
                margin-right: 15px
            }
            .base_price {
                text-decoration: line-through;
                color: #aaaaaa
            }
        }
        .tour-box {
            color: #000;
            border-top: #e8e8e8 1px solid;
            padding: 20px 15px;
        }
        .box-title {
            color: #646464
        }
        .book-button {
            .button {
                color: #fff;
                display: block;
                padding: 10px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;
            }
            .btn-tour-available {
                background-color: #dc3545;
            }
            .btn-tour-custom {
                background-color: #4267b2;
                margin-top: 15px
            }
        }
    }
    .destination-tags {
        padding-left: 15px;
        li {
            display: inline-block;
            & + li {
                &:before {
                    content: "\f178";
                    font-family: FontAwesome;
                    color: #00833e;
                    margin-right: 10px;
                    margin-left: 10px;

                }
            }
            a {
                color: #00833e;
                &:hover {
                    text-decoration: underline
                }
            }
        }
    }
    .support {
        background-color: #fff;
        padding: 15px;
        border-left: #e8e8e8 1px solid;
        position: relative;
        .title {
            font-size: 1.5rem;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            width: 2px;
            height: 52px;
            background: #00833e;
        }
        ul {
            li {
                border-top: #e8e8e8 1px solid;
                padding: 20px 0 25px 30px;
                i {
                    margin-right: 15px;
                    color: #00833e
                }
            }
        }
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        .translate(0, -50%); 

    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .tour-gallery-nav {
        .slick-slide {
            opacity: .6;
            &.slick-current {
                opacity: 1;
            }
            img {
                width: 100%;
            }
        }
    }
}
.price-wrap {
    .price-include {
        margin-bottom: 30px
    }
    .title {
        display: flex;
        font-size: 18px;
        i {
            margin-right: 10px;
        }
    }
    .content {
        padding-left: 20px
    }
}

/******************************* 
======== SEARCH PAGE ============
/*******************************/ 
.search-wrap {
    background-color: #f5f5f5;
    .frm-search {
        background-color: #fff;
        border: 1px solid #cccccc;
        .box-shadow(0 0 5px rgba(0, 0, 0, 0.13));
        .filtertip {
            height: 70px;
            background: @major_color;
            color: #fff;
            position: relative;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 1px;
                left: 50%;
                .translate(-50%, 100%);
                .size(0,0);
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top: 10px solid @major_color;
            }
            strong {
                font-size: 22px;
                padding: 0 5px
            }
            i {
                .rotateY(180deg);
                margin-right: 5px
            }
        }
        .filter-item {
            padding: 15px;
            label {
                font-weight: bold
            }
            .form-control {
                background-color: #f3f3f3;
                color: #7f7f7f;
                padding: 10px 15px;
                border-radius: 0;
                height: auto;
            }
            .ui-widget-header {
                background: @major_color;
            }
            .ui-widget-content {
                background-color: #ebeef2;
                border: none;
                border-radius: 0;
                .calc-width(~"100% - 20px");
                margin-left: 10px;
                .ui-state-default {
                    .border-radius(50%);
                    border: 2px solid @major_color;
                    background-color: #f5f5f5;
                    outline: unset;
                    &.ui-state-active {
                        background-color: @major_color;
                    }
                }
            }
        }
        .form-check {
            display: flex;
            align-items: center;
            input {
                margin-top: 0
            }
            .form-check-label {
                font-weight: normal
            }
            .rating-stars {
                display: flex;
                align-items: center;
                i {
                    width: 24px;
                    color: #e0e0e0;
                    &.vote {
                        color: #fbde00
                    }
                }
                span {
                    margin-left: 5px
                }
            }
        }
        .slide-range {
            border: none;
            color: lighten(@text_color, 40%)    
        }
        .btn-search {
            width: 100%;
            border-radius: 0
        }
    }
    .filter-results {
        background-color: #fff;
        .box-shadow(0 0 5px rgba(0, 0, 0, 0.13));
    }
    .tours-list {
        padding: 15px;
        .tour-item {
            background-color: #f2f2f2;
        }
    }
    .sort-by-section {
        padding: 0 15px;
    }
}
// Sort
.sort-by-section {
    .sort-bar {
        height: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6
    }
    .sort-item {
        margin-right: 5px;
        margin-left: 5px;
        select {
            width: 168px;
        }
    }
    .sort-by-title {
        font-size: 1rem;
        margin-bottom: 0
    }
}

/****************************
====== BOOKING PAGE =========
****************************/
.booking-wrap {
    background-color: #f5f5f5;
    .booking-title {
        background-color: @major_color;
        color: #fff;
        padding: 15px 20px;
        h3 {
            font-size: 18px;
            margin: 0;
        }
    }
    .booking-info,
    .booking-payment {
        background-color: #fff;
        .box-shadow(0 0 5px rgba(0, 0, 0, 0.13));
    }
    .booking-content,
    .payment-content {
        padding: 20px;
    }
    .booking-info {
        label {
            font-weight: bold;
        }
        .info-item {
            position: relative;
            i {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                color: #7f7f7f;
                padding: 5px;
            }
        }
        .form-control {
            border-radius: 0;
            padding-left: 30px;
        }
        .btn-booking {
            padding: 10px 25px;
            font-size: 1rem;
            line-height: 1.5;
            background-color: #ffcb05;
            min-width: 300px;
            border-radius: 0;
        }
        .booking-note {
            font-size: 13px;
            color: #7f7f7f;
            strong {
                font-size: 14px;
                color: #00833e
            }
        }
    }
    .booking-payment {
        .quick-tour-info {
            img {
                width: 100%;
            }
            .tour-detail {
                padding: 15px 15px 0;
                .tour-name {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 15px
                }
                .detail-item {
                    margin-bottom: 10px
                }
                i {
                    font-size: 18px;
                    margin-right: 4px;
                    color: #7f7f7f;
                    vertical-align: middle;
                }
            }
            hr {
                margin-bottom: 0;
            }
        }
        .row-money {
            display: flex;
            justify-content: space-between;
            span {
                font-size: 18px
            }
        }
    }
} 

/******************************* 
====== BOOKING SUCCESS PAGE =====
/*******************************/
.booking_success-wrap {
    .wrap {
        padding: 15px;
        max-width: 900px;
        margin: 0 auto;
        .alert-success {
            border-radius: 0;
            p {
                margin-bottom: 0;
                text-align: center;
                font-size: 16px
            }
        }
        .title {
            background-color: #1fab1e;
            padding: 15px 20px;
            color: #fff;
            font-size: 18px;
            i {
                vertical-align: middle;
                margin-right: 5px
            }
        }
        .table {
            border: 1px solid #ddd;
            padding: 15px;
            tr:nth-child(2n) {
                background-color: #f9f9f9
            }
        }
    }
} 
/******************************* 
============= BLOG =============
/*******************************/
.blog-item {
    position: relative;
    & + .blog-item {
        margin-top: 30px;
    }
    .blog-title {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 0;
        a {
            color: @text_color;
            &:hover, &:focus {
                color: @major_color
            }
        }
    }
    .blog-media {
        img {
            width: 100%;
        }
    }
    .entry-date {
        background-color: #fff;
        .border-radius(30px);
        padding: 5px 16px;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: @baseFontSize - 1;
        margin: 0;
        display: flex;
        align-items: center;
        .entry-day {
            margin-left: 3px
        }
        .entry-month {
            margin-left: 3px
        }
    }
}
.blog-header {
    margin-bottom: 15px;
    .grid-view {
        display: flex;
        align-items: center;
        .view {
            color: #777;
            cursor: pointer;
            border: 1px solid #eeeeee;
            padding: 2px;
            .size(30px, 30px);
            & + .view {
                margin-left: 5px
            }
            &.active {
                color: @text_color;
                border-color: @text_color;
                pointer-events: none
            }
            &:hover {
                color: @text_color;
            }
        }
    }
}
.blog-container {
    padding-bottom: 30px;
    .blog-header {
        .blog-title {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
    }
    .blog-info {
        padding: 10px 0;
        color: #777;
        a {
            color: #777;
        }
        span {
            & + span {
                margin-left: 15px
            }
        }
    }
    .blog-content {
        text-align: justify
    }
    .blog-footer {
        .social {
            display: flex;
            li {
                & + li {
                    margin-left: 3px
                }
            }
        }
    }
}
.blog-right {
    .box {
        .box-title {
            font-size: 1.5rem;
            margin-bottom: 15px
        }
    }
    .tour-item {
        & + .tour-item {
            margin-top: 20px
        }
    }
}
.blog-pagination {
    margin-top: 30px;
    .pagination {
        justify-content: center;
        li {
            background-color: #f2f2f2;
            border: 1px solid #dddddd;
            border-radius: 50%;
            display: inline-block;
            float: left;
            height: 35px;
            line-height: 33px;
            margin: 0 5px 0 0;
            padding: 0 9px;
            width: 35px;
            text-align: center;
            .transition(all.3s);
            a {
                .transition(all.3s);
                color: @text_color
            }
            &.active, &:hover {
                background-color: @major_color;
                border: 1px solid @major_color;
                a {
                    color: #fff
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .main-slider {
        // height: 600px;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a10.png) no-repeat;
    overflow: hidden;
}

.jssora13l {
    background-position: -10px -35px;
    width: 40px; 
    height: 50px; 
    top: 123px; 
    left: 30px;
}

.jssora13r {
    background-position: -70px -35px;
    width: 40px; 
    height: 50px; 
    top: 123px; 
    right: 30px;
}

.jssora13l:hover {
    background-position: -130px -35px;
}

.jssora13r:hover {
    background-position: -190px -35px;
}

.jssora13ldn {
    background-position: -250px -35px;
}

.jssora13rdn {
    background-position: -310px -35px;
}