.main-menu {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    ul {
        li {
            position: relative;
            >a {
                color: @text_color;
                display: block;
                &:hover, &:focus {
                    color: @major_color
                }
            }
            ul {
                opacity: 0;
                .transition(all .3s);
                z-index: -1;
            }
            &:hover {
                >ul {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
    >ul {
        padding: 0;
        margin: 0;
        >li {
            display: inline-block;
            padding: 15px;
            >a {
                font-size: @baseFontSize + 2;
                line-height: 60px;
                position: relative;
                text-decoration: none;
                padding-bottom: 1px;
                // &:after {
                //     content: "";
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     .translate(-50%, 0);
                //     .transition(all .3s);
                //     opacity: 0;
                //     .size(0, 2px);
                //     background-color: @major_color;
                // }
                // &:hover, &:focus, &.active {
                //     &:after {
                //         width: 100%;
                //         opacity: 1;
                //     }
                // }
            }
            ul {
                position: absolute;
                top: 100%;
                left: 0;
                width: 250px;
                background-color: #fff;
                .box-shadow(0 1px 2px rgba(0, 0, 0, 0.13));
                li {
                    padding: 10px 15px;
                    & + li {
                        border-top: 1px solid #dddddd
                    }
                    >a {
                        line-height: 30px;
                    }
                    ul {
                        top: 0;
                        left: 100%;
                    }    
                }
            }
        }
    }
}
.navbar-toggler {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 0;
    height: 40px;
    transition: 0.2s;
    opacity: 0.8;
    .navbar-toggler-icon {
        position: relative;
        top: 50%;
        left: 50%;
        .translate(-50%,-50%);
        float: left;
        display: block;
        .size(25px, 2px);
        background: #333;
        transition: 0.2s;
        &:before, &:after {
            content: ' ';
            display: block;
            .size(25px, 2px);
            background: #333;
            transition: 0.2s;
            position: absolute;
            left: 0;
            transform-origin: 1.4285714285714px center;
        }
        &:before {
            top: 5px
        }
        &:after {
            top: -5px
        }
    }
    &[aria-expanded="true"] {
        .navbar-toggler-icon {
            background-color: transparent;
            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
                width: 20px;
            }
            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }
            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .navbar {
        position: static;
        padding-right: 0;
        padding-left: 0;
        margin-right: -15px;
        margin-left: -15px;
        .navbar-collapse {
            &.show {
                width: 100%;
                background: #fff;
            }
        }
    }
    .main-menu {
        display: block;
        ul {
            li {
                padding: 0;
                display: block;
                & + li {
                    border-top: 1px solid #d1d1d1;
                }
                a {
                    padding: 15px;
                    display: inline-block
                }
                ul {
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    .transition(height .15s)
                }
                &.open {
                    ul {
                        opacity: 1;
                        height: auto;
                    }
                }
            }
        }
        >ul {
            >li {
                >a {
                    line-height: normal
                }
                ul {
                    width: 100%;
                    li {
                        padding: 0 0 0 30px;
                        &:first-child {
                            border-top: 1px solid #d1d1d1;
                        }
                        >a {
                            line-height: normal
                        }
                    }
                }
            }
        }
        .caret {
            padding: 15px;
            text-align: center;
            float: right;
            &:before {
                content: "\f068";
                font-family: FontAwesome
            }
            &.collapsed {
                &:before {
                    content: "\f067";
                }
            }
        }
    }
}