ul, ol, li {
    list-style: none;
}
ul, ol, {
    margin: 0;
    padding: 0
}
.img-thumb {
    .size(100px,100px)
}
a {
    color: @text_color;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}
.table {
    background-color: @primary_color;
    color: #d1d1ff;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    thead {
        th {
            border-bottom: 1px solid @major_color;
            color: #fff;
        }
    }
    td, th {
        border-bottom: 1px solid @major_color;
        border-top: 1px solid @major_color;
    }
}
.card {
    line-height: 1.25;
    background:@primary_color;
    color: #d1d1ff;
    margin-bottom: 1.5rem;
    .border-radius(.5rem);
    .box-shadow(0 8px 20px 0 rgba(40,37,89,.6));
    .card-head {
        padding: 1.25rem;
        border-bottom: 1px solid @major_color;
        .card-title {
            font-size: 1.25rem;
            margin: 0
        }
    }
    .card-body {
        padding: 1.25rem;
    }
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: @major_color;
}