.w200 {
    width: 200px;
}
body {
    font-family: @fontFamily;
    background: @major_color;
}
header {
    -webkit-box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
    box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
    height: 4.75rem;
    padding: 1.25rem;
    background:@primary_color;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.sidebar {
    padding-top: 4.75rem;
    min-height: 100vh;
    display: flex;
}
aside {
    margin-top: 10px;
    background: 0 0;
    width: 16.25rem;
    font-size: 1rem;
    line-height: 1.25;
    .menu-wrap {
        background:@primary_color;
        -webkit-box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
        box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
        .calc-height(~"100vh - 4.75rem - 2rem");
        width: 16.25rem;
        padding-top: 30px;
        position: fixed;
        overflow-y: auto
    }
    ul {
        li {
            a {
                display: block;
                padding: .5rem .75rem;
                border-radius: .5rem;
                color: rgb(161, 161, 229);
                display: flex;
                &:hover, &.active, &:focus {
                    text-decoration: none;
                    color: #fff;
                }
                span {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
                .menu-icon {
                    width: 2.5rem;
                    margin: 0 .25rem;
                    text-align: center;
                    color: #a1a1e5;
                }
            }
            ul {
                background-color: #2f296b;
                overflow: hidden;
                padding-left: 1.25rem;
                &.collapsed {
                    height: 0;
                }
            }
        }
    }
}
.main-content {
    .calc-width(~"100vw - 16.25rem");
    padding: 2.25rem 2.25rem .75rem;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .gallery-item {
        position: relative;
        margin: 10px;
        margin-bottom: 10px;
        border: 1px solid #e9e9e9;
        .border-radius(4px);
        background: url(../../images/no_image.png) no-repeat center center;
        .size(300px, 268px);
        img {
            .size(100%, 100%);
        }
        .remove {
            position: absolute;
            top: 15px;
            right: 15px;
            opacity: 0;
            font-size: 28px;
            background: #f5f5f5;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #464646;
            .transition(all .3s);
            cursor: pointer;
        }
        &:hover {
            .remove {
                opacity: 1;
            }
        }
    }
    &.full {
        .gallery-item {
            width: 100%;
        }
    }
}
.bootstrap-tagsinput {
    padding: .375rem .75rem;
}
.box {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    .border-radius(4px)
}
/******************************
  =========  SLIDER  ==========
********************************/ 
.slider {
    .slider-preview {
        min-height: 300px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #d1d1d1;
        .border-radius(4px);
        padding: 10px;
        margin-bottom: 15px
    }
}
.slider-items {
    .slider-item {
        margin-bottom: 10px;
        img {
            width: 100px;
        }
        .remove-slide,
        .edit-slide {
            display: inline-block;
            margin: 5px;
        }
        .remove-slide {
            color: #f82338;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
        .edit-slide {
            color: #fff;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .owl-carousel {
        .owl-nav {
            button {
                position: absolute;
                top: 50%;
                .translate(0, -50%);
                &.owl-next {
                    right: 0
                }
                &.owl-prev {
                    left: 0;
                }
            }
        }
    }
}
/**********************************
=========== MENU PAGE =============
***********************************/ 
#menu-settings-column {
    .card {
        margin-bottom: 0;
        border-radius: 0
    }
    .card-header {
        border-radius: 0
    }
    .btn-link {
        color: #fff
    }
    .nav-tabs {
        .nav-link {
            border-radius: 0;
            &.active {

            }
        }
    }
    .tab-content {
        .tab-pane {
            background-color: #fff;
            padding: 10px;
            max-height: 200px;
            overflow: auto;
            color: #333;
            input[type=checkbox] {
                border: 1px solid #b4b9be;
                background: #fff;
                color: #555;
                clear: none;
                cursor: pointer;
                display: inline-block;
                line-height: 0;
                height: 16px;
                margin: -4px 4px 0 0;
                outline: 0;
                padding: 0!important;
                text-align: center;
                vertical-align: middle;
                width: 16px;
                min-width: 16px;
                -webkit-appearance: none;
                box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                transition: .05s border-color ease-in-out;
                &:checked {
                    &:before {
                        content: "\f00c";
                        display: inline-block;
                        vertical-align: middle;
                        font-family: FontAwesome;
                        color: @major_color;
                        margin-top: 5px
                    }
                }
            }
        }
    }
    .button-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px
    }
}
.btn_order_status + .btn_order_status {
    margin-top: 5px    
}
.save_note {
    width: 100%;
    min-height: 70px
}