// Menu
body.dragging, body.dragging * {
    cursor: move !important;
}
.menu-item {
    margin-left: 30px;
    &.dragged {
        position: absolute;
        top: 0;
        opacity: 0.5;
        z-index: 2000;
    }
    .menu-item-bar {
        clear: both;
        line-height: 1.5em;
        position: relative;
        margin: 9px 0 0;
        .menu-item-handle {
            cursor: move;
            background: #fafafa;
            color: #23282d;
            border: 1px solid #ddd;
            position: relative;
            padding: 10px 15px;
            height: auto;
            min-height: 20px;
            width: 382px;
            line-height: 30px;
            overflow: hidden;
            word-wrap: break-word;
            &:hover {
                border-color: #999;
            }
            .item-title {
                font-size: 13px;
                font-weight: 600;
                line-height: 20px;
                display: block;
                margin-right: 0;
            }
            .item-controls {
                font-size: 12px;
                position: absolute;
                right: 20px;
                top: 5px;
                .menu_item-setting {
                    .size(30px, 30px);
                    display: block;
                    color: #666;
                    text-align: center
                }
            }
        }
    }
    .menu_item-settings {
        display: none;
        background-color: #fff;
        width: 382px;
        padding: 10px;
        label {
            font-size: @baseFontSize - 1;
            font-style: italic;
            color: #666;
            margin-bottom: 0;
        }
        .form-control {
            border-radius: 0
        }
        .menu-item-actions {
            margin-top: 5px;
            a {
                font-size: @baseFontSize - 1;
                text-decoration: underline;
                display: inline-block;
                padding: 0
            }
            .submit_delete {
                color: #a00
            }
            .submit_cancel {
                color: #0073aa
            }
        }
    }
}