ul, ol, li {
    list-style: none;
}
ul, ol, {
    margin: 0;
    padding: 0
}
a {
    .transition(all .15s);
}
a, a:hover {
    text-decoration: none
}
input, button {
    outline: none
}
button, input, select,
button:focus, input:focus, select:focus {
    outline: none;
    box-shadow: unset
}
.form-control {
    .border-radius(0);
    &:focus {
        box-shadow: unset
    }
}
.strong {
    font-weight: bold
}
.btn {
    .border-radius(0)
}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w60 {width: 60%;}
.w70 {width: 70%;}