@media screen and (max-width: 576px) {
    .search-tour {
        form {
            flex-direction: column;
        }
        .form-group {
            width: 100%;
        }
        select, input, button {
            width: 100%;
        }
    }
    .sort-by-section {
        .sort-item {
            width: 100%;
            &:first-child {
                display: none;
            }
            select {
                width: 100%;
            }
        }
    }
    // Tour item 
    .tour-item {
        &.vertical {
            .wrap {
                display: block
            }
            .tour-media, .tour-detail {
                width: 100%;
                max-width: unset;
            }
        }
    }
}