@fontFamily: @RobotoSlabFont;
@baseFontSize: 14px;
@PlayfairDisplayFont: 'Playfair Display', serif;
@OpenSansFont: 'Open Sans', sans-serif;
@PoppinsFont: 'Poppins', sans-serif;
@RobotoSlabFont: 'Roboto Slab', serif;
@RobotoFont: 'Roboto', serif;
@MaterialIcons: 'Material Icons';

@major_color: #00833e;
@hover_color: #ffcb05;
@text_color: #252525;