ul,
ol,
li {
  list-style: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
a,
a:hover {
  text-decoration: none;
}
input,
button {
  outline: none;
}
button,
input,
select,
button:focus,
input:focus,
select:focus {
  outline: none;
  box-shadow: unset;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: unset;
}
.strong {
  font-weight: bold;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.main-menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: auto;
}
.main-menu ul li {
  position: relative;
}
.main-menu ul li > a {
  color: #252525;
  display: block;
}
.main-menu ul li > a:hover,
.main-menu ul li > a:focus {
  color: #00833e;
}
.main-menu ul li ul {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.main-menu ul li:hover > ul {
  opacity: 1;
  z-index: 1;
}
.main-menu > ul {
  padding: 0;
  margin: 0;
}
.main-menu > ul > li {
  display: inline-block;
  padding: 15px;
}
.main-menu > ul > li > a {
  font-size: 16px;
  line-height: 60px;
  position: relative;
  text-decoration: none;
  padding-bottom: 1px;
}
.main-menu > ul > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}
.main-menu > ul > li ul li {
  padding: 10px 15px;
}
.main-menu > ul > li ul li + li {
  border-top: 1px solid #dddddd;
}
.main-menu > ul > li ul li > a {
  line-height: 30px;
}
.main-menu > ul > li ul li ul {
  top: 0;
  left: 100%;
}
.navbar-toggler {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 0;
  height: 40px;
  transition: 0.2s;
  opacity: 0.8;
}
.navbar-toggler .navbar-toggler-icon {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  float: left;
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  transition: 0.2s;
}
.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  content: ' ';
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  transition: 0.2s;
  position: absolute;
  left: 0;
  transform-origin: 1.4285714285714px center;
}
.navbar-toggler .navbar-toggler-icon:before {
  top: 5px;
}
.navbar-toggler .navbar-toggler-icon:after {
  top: -5px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: transparent;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 20px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
@media screen and (max-width: 576px) {
  .navbar {
    position: static;
    padding-right: 0;
    padding-left: 0;
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar .navbar-collapse.show {
    width: 100%;
    background: #fff;
  }
  .main-menu {
    display: block;
  }
  .main-menu ul li {
    padding: 0;
    display: block;
  }
  .main-menu ul li + li {
    border-top: 1px solid #d1d1d1;
  }
  .main-menu ul li a {
    padding: 15px;
    display: inline-block;
  }
  .main-menu ul li ul {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.15s;
    -o-transition: height 0.15s;
    transition: height 0.15s;
  }
  .main-menu ul li.open ul {
    opacity: 1;
    height: auto;
  }
  .main-menu > ul > li > a {
    line-height: normal;
  }
  .main-menu > ul > li ul {
    width: 100%;
  }
  .main-menu > ul > li ul li {
    padding: 0 0 0 30px;
  }
  .main-menu > ul > li ul li:first-child {
    border-top: 1px solid #d1d1d1;
  }
  .main-menu > ul > li ul li > a {
    line-height: normal;
  }
  .main-menu .caret {
    padding: 15px;
    text-align: center;
    float: right;
  }
  .main-menu .caret:before {
    content: "\f068";
    font-family: FontAwesome;
  }
  .main-menu .caret.collapsed:before {
    content: "\f067";
  }
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
.button {
  font-family: 'Roboto', serif;
}
.top-header {
  background-color: #00833e;
  color: #fff;
  height: 40px;
}
.top-header .hotline {
  line-height: 40px;
}
.top-header .hotline p {
  display: flex;
  align-items: center;
}
.top-header .hotline p i {
  margin-right: 5px;
  font-size: 18px;
}
.top-header .social {
  text-align: right;
}
.top-header .social li {
  display: inline-block;
}
.top-header .social li + li {
  margin-left: 10px;
}
.top-header .social li a {
  line-height: 40px;
  color: #fff;
}
.main-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.main-header .logo {
  display: flex;
  height: 100%;
  align-items: center;
}
.slider {
  height: 600px;
}
.search-tour {
  background-color: #00833e;
  padding: 20px 0 10px 0;
}
.search-tour form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-tour select,
.search-tour input {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  border-radius: 0;
  width: 200px;
  color: #252525;
}
.search-tour button {
  text-transform: uppercase;
  width: 170px;
  background-color: #ffcb05;
  color: #252525;
  height: 40px;
  border: none;
  font: 700 16px 'Playfair Display', serif;
}
.value-box {
  display: flex;
  align-items: center;
}
.value-box .value-img {
  margin-right: 15px;
}
.value-box .value-content p {
  margin-bottom: 0;
}
.block {
  padding-top: 50px;
  padding-bottom: 50px;
}
.block .block-title {
  font-size: 1.75rem;
}
.block .block-subtitle a {
  color: #b4b4b4;
  font-size: 16px;
}
.block .block-body {
  padding-top: 30px;
}
.block .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
.block .owl-nav [class*=owl-] {
  border: 1px solid #333;
  background-color: transparent;
  padding: 0;
}
.block .owl-nav [class*=owl-] span {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.block .owl-nav [class*=owl-]:not(.disabled) span {
  cursor: pointer;
}
.block .owl-nav [class*=owl-]:hover {
  background-color: #00833e;
  color: #fff;
  border-color: #00833e;
}
.block .owl-nav .disabled {
  opacity: 1;
  pointer-events: none;
}
.block .owl-nav .owl-prev {
  margin-right: 5px;
}
.block-tour {
  background: url(../../images/bg_tour.jpg) center / cover no-repeat;
  position: relative;
}
.block-tour .block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-tour .block-body .carousel {
  position: static;
}
.block-tour .block-title {
  color: #fff;
}
.block-tour .block-subtitle a {
  font-style: italic;
}
.block-tour .owl-nav {
  position: static;
  top: auto;
  right: auto;
}
.block-tour .owl-nav [class*=owl-] {
  background-color: #4692e7;
  color: #fff;
  border: none;
  outline: none;
}
.block-tour .owl-nav [class*=owl-]:focus {
  outline: none;
}
.block-tour .owl-nav [class*=owl-] span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}
.block-tour .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.block-tour .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.block-destination {
  background-color: #f5f5f5;
  padding-bottom: 0;
}
.block-destination .destination-item {
  position: relative;
}
.block-destination .destination-item:hover .destination-detail {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.block-destination .destination-item:hover .destination-detail .viewmore {
  opacity: 1;
}
.block-destination .destination-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  border-bottom: 5px solid #00833e;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.block-destination .destination-detail .title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.block-destination .destination-detail .title i {
  vertical-align: top;
  margin-right: 3px;
}
.block-destination .destination-detail .viewmore {
  opacity: 0;
  padding: 3px;
}
.block-destination .destination-detail .viewmore a {
  font-size: 16px;
  text-decoration: none;
  color: #ffcb05;
}
.our-value {
  background-color: #fff;
}
.tour-info .nav .nav-item {
  padding: 0;
  width: 100%;
  margin: 0 0 1px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.tour-info .nav .nav-item .nav-link {
  background: #f7f7f7;
  border-radius: 0;
  color: #252525;
  line-height: 40px;
  font-size: 16px;
  position: relative;
}
.tour-info .nav .nav-item .nav-link i {
  vertical-align: middle;
  margin-right: 10px;
}
.tour-info .nav .nav-item .nav-link.active {
  background-color: #ffcb05;
  color: #fff;
}
.tour-info .nav .nav-item .nav-link.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 28px solid transparent;
  border-left: 30px solid #ffcb05;
  border-bottom: 28px solid transparent;
}
.tour-info .tab-content {
  background-color: #f7f7f7;
  padding: 15px;
  border-left: 2px solid #ffcb05;
}
.tour-info .itinerary-wrap .card + .card {
  margin-top: 15px;
}
.tour-info .itinerary-wrap .card .card-header h5 {
  font-size: 16px;
}
.tour-info .itinerary-wrap .card .card-header h5 span {
  font-weight: bold;
}
.tour-item {
  background-color: #fff;
}
.tour-item .tour-media {
  position: relative;
}
.tour-item .tour-media > span {
  line-height: 1;
  z-index: 1;
  position: absolute;
  top: 20px;
  font-weight: 600;
  padding: 14px 20px 14px 30px;
  right: -10px;
  color: #fff;
}
.tour-item .tour-media > span:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-top-width: 10px;
  border-top-style: solid;
  border-right: 10px solid transparent;
}
.tour-item .tour-media > span.discount {
  background-color: #e50000;
}
.tour-item .tour-media > span.discount:after {
  border-top-color: #a30606;
}
.tour-item .tour-media > span.new {
  background-color: #1fab1e;
}
.tour-item .tour-media > span .hot {
  background-color: #e85e34;
}
.tour-item .tour-media img {
  max-width: 100%;
}
.tour-item .tour-detail {
  padding: 20px 15px;
  position: relative;
}
.tour-item .tour-detail p {
  margin-bottom: 0;
}
.tour-item .tour-detail .title {
  margin-bottom: 7px;
}
.tour-item .tour-detail .title a {
  color: #000;
  font-size: 18px;
}
.tour-item .tour-detail .rating {
  margin-bottom: 10px;
}
.tour-item .tour-detail .rating span {
  color: #a1a1a1;
  font-size: 12px;
}
.tour-item .tour-detail .rating .star.active {
  color: #ffd707;
}
.tour-item .tour-detail .tour-duration i {
  vertical-align: middle;
  color: #4692e7;
  font-size: 22px;
}
.tour-item .tour-detail .sale_price {
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.tour-item .tour-detail .intro-text {
  color: #8b8b8b;
}
.tour-item.discount .tour-detail .base_price {
  text-decoration: line-through;
  color: #aaaaaa;
}
.tour-item:hover .button {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.tour-item.horizontal .tour-detail .tour-title {
  padding-right: 70px;
}
.tour-item.horizontal .tour-detail .tour-price {
  position: absolute;
  top: 30px;
  right: 15px;
  text-align: right;
}
.tour-item.horizontal .tour-detail .tour-price p {
  margin-bottom: 0;
}
.tour-item.horizontal .tour-detail .tour-duration {
  color: #999;
}
.tour-item.vertical + .tour-item {
  margin-top: 15px;
}
.tour-item.vertical .wrap {
  display: flex;
}
.tour-item.vertical .tour-media {
  max-width: 300px;
}
.tour-item.vertical .tour-media .media-box {
  overflow: hidden;
}
.tour-item.vertical .tour-media img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.tour-item.vertical .tour-media img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.tour-item.vertical .tour-media span.discount {
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  width: 100px;
  height: 102px;
  color: #fff;
  background: url(../../images/discount.png) no-repeat;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 0;
  line-height: 70px;
}
.tour-item.vertical .tour-media span.discount:after {
  display: none;
}
.tour-item.vertical .tour-media span.discount .discount-text {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  writing-mode: lr-tb;
  width: 100%;
  height: 100%;
  text-align: center;
}
.tour-item.vertical .tour-detail {
  display: flex;
  padding: 5px;
}
.tour-item.vertical .tour-detail > div {
  padding: 10px;
}
.tour-item.vertical .tour-detail > div:first-child {
  border-right: 1px solid #e1e1e1;
}
.tour-item.vertical .tour-detail .rating {
  text-align: center;
}
.tour-item.vertical .tour-detail .rating .rating-text {
  display: block;
}
.tour-item.vertical .tour-detail .tour-price {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tour-item.vertical .tour-detail .tour-price .base_price {
  order: 1;
}
.tour-item.vertical .tour-detail .tour-price .sale_price {
  order: 0;
}
.tour-item.vertical .tour-detail .tour-duration {
  color: #252525;
  text-align: center;
  font-size: 13px;
}
.tour-item.vertical .tour-detail .tour-duration i {
  display: none;
}
.tour-item.vertical .tour-destinations {
  padding: 5px 0;
}
.tour-item.vertical .tour-destinations i {
  color: #ffcb05;
  margin-right: 5px;
}
.tour-item.vertical .tour-destinations span + span:before {
  content: "\f101";
  margin: 0 5px;
  font-family: FontAwesome;
  font-size: 11px;
}
.tour-item.vertical .tour-destinations a {
  color: #585858;
}
.tour-item.vertical .tour-destinations a:hover {
  color: #00833e;
}
.tour-item.quickview .tour-detail {
  padding: 0;
}
.tour-item.quickview .tour-detail .rating,
.tour-item.quickview .tour-detail .tour-duration {
  display: none;
}
.tour-item.quickview .tour-detail .tour-price {
  display: flex;
  align-items: center;
}
.tour-item.quickview .tour-detail .tour-price p {
  margin-bottom: 0;
}
.tour-item.quickview .tour-detail .tour-price .sale_price {
  order: 1;
  font-size: 16px;
}
.tour-item.quickview .tour-detail .tour-price .base_price {
  margin-left: 10px;
  order: 2;
}
.block-latest-news {
  position: relative;
}
.block-latest-news .inner {
  padding-right: 15px;
}
.block-latest-news .background-content {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #f5f5f5;
  width: 65%;
  height: 100%;
}
.block-latest-news .wrap {
  display: flex;
}
.block-latest-news .article-media {
  padding: 30px 1px 30px 0;
}
.block-latest-news .article-media img {
  max-width: 100%;
}
.block-latest-news .article-detail {
  padding: 30px 15px;
}
.block-latest-news .article-detail .title {
  font-size: 22px;
  padding-left: 75px;
}
.block-latest-news .article-detail .title a {
  color: #000;
}
.block-latest-news .article-detail .info {
  font-size: 13px;
  color: #8e8e8e;
  padding-left: 75px;
}
.block-latest-news .article-detail .info a {
  color: #8e8e8e;
  display: flex;
  align-items: center;
}
.block-latest-news .article-detail .info a i {
  margin-right: 3px;
}
.block-latest-news .article-detail .info a:hover {
  color: #00833e;
}
.block-latest-news .article-detail .info i {
  font-size: 14px;
  vertical-align: middle;
}
.block-latest-news .article-detail .entry-date {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}
.block-latest-news .article-detail .entry-date .entry-day {
  order: 1;
  font-size: 28px;
  color: #252525;
  font-weight: bold;
}
.block-latest-news .article-detail .entry-date .entry-month {
  order: 0;
  background-color: #00833e;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 3px;
}
.block-latest-news .readmore {
  margin-top: 10px;
}
.block-latest-news .readmore a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #00833e;
}
.block-latest-news .owl-nav {
  position: absolute;
  bottom: 15px;
  left: 20px;
  top: unset;
}
.block-latest-news .owl-nav [class*=owl-] {
  margin: 0;
  outline: none;
}
.block-latest-news .owl-nav [class*=owl-]:hover {
  background: none;
}
.block-latest-news .owl-nav [class*=owl-]:not(.disabled):hover span {
  color: #00833e;
}
.block-latest-news .owl-nav [class*=owl-] span {
  font-size: 46px;
  width: 20px;
  color: #8e8e8e;
}
.block-subscribe .title {
  margin-bottom: 15px;
}
.block-subscribe .frm-subscribe .wrap {
  position: relative;
}
.block-subscribe .frm-subscribe .email-wrap {
  width: 100%;
}
.block-subscribe .frm-subscribe .button-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.block-subscribe .frm-subscribe .button-wrap .btn-submit {
  background: unset;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  display: flex;
}
.block-subscribe .frm-subscribe .button-wrap .btn-submit i {
  font-size: 18px;
}
.block-subscribe .frm-subscribe input[type="email"] {
  border-radius: 0;
  border: 2px solid #000;
}
.block-operator {
  background-color: #ebeef2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.block-operator ul li {
  filter: grayscale(1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.block-operator ul li img {
  max-width: 200px;
}
.block-operator ul li:hover {
  filter: grayscale(0);
}
.carousel .owl-item img {
  max-width: 100%;
}
footer .main-footer {
  background-color: #202020;
  color: #ababab;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .block-copyright {
  background-color: #181818;
  color: #838383;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .title {
  margin-bottom: 30px;
  font-size: 1.25rem;
  color: #fff;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  color: #fff;
  opacity: .7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
footer ul li a:after {
  font-family: FontAwesome;
  content: "\f178";
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 5px;
  font-size: 12px;
}
footer ul li a:hover {
  text-decoration: none;
  padding-left: 5px;
  color: #00833e;
}
footer ul li a:hover:after {
  opacity: 1;
}
/*******************************
========== BREADCRUMDS =========
********************************/
.breadcrumbs-wrap {
  background-color: #f5f5f5;
}
.breadcrumbs-wrap .breadcrumb {
  background-color: unset;
  padding-right: 0;
  padding-left: 0;
}
.breadcrumbs-wrap .breadcrumb li {
  position: relative;
}
.breadcrumbs-wrap .breadcrumb li + li:before {
  content: "\f101";
  font-family: FontAwesome;
  display: inline-block;
  margin: 0 10px;
}
.breadcrumbs-wrap .breadcrumb li a {
  color: #646464;
}
.breadcrumbs-wrap .breadcrumb li.active {
  opacity: .6;
}
.tour_detail-wrap .banner {
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.tour_detail-wrap .tour_intro-wrap {
  margin-bottom: 30px;
}
.tour_detail-wrap .tour_intro-wrap .wrap {
  background-color: #f5f5f5;
}
.tour_detail-wrap .tour_intro-wrap .tour-title {
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 0;
}
.tour_detail-wrap .tour_info-wrap {
  background-color: #fff;
  margin-bottom: 50px;
}
.tour_detail-wrap .overview {
  margin-bottom: 30px;
}
.tour_detail-wrap .overview .tour-sale .sale_price {
  color: #ff0000;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
}
.tour_detail-wrap .overview .tour-sale .base_price {
  text-decoration: line-through;
  color: #aaaaaa;
}
.tour_detail-wrap .overview .tour-box {
  color: #000;
  border-top: #e8e8e8 1px solid;
  padding: 20px 15px;
}
.tour_detail-wrap .overview .box-title {
  color: #646464;
}
.tour_detail-wrap .overview .book-button .button {
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.tour_detail-wrap .overview .book-button .btn-tour-available {
  background-color: #dc3545;
}
.tour_detail-wrap .overview .book-button .btn-tour-custom {
  background-color: #4267b2;
  margin-top: 15px;
}
.tour_detail-wrap .destination-tags {
  padding-left: 15px;
}
.tour_detail-wrap .destination-tags li {
  display: inline-block;
}
.tour_detail-wrap .destination-tags li + li:before {
  content: "\f178";
  font-family: FontAwesome;
  color: #00833e;
  margin-right: 10px;
  margin-left: 10px;
}
.tour_detail-wrap .destination-tags li a {
  color: #00833e;
}
.tour_detail-wrap .destination-tags li a:hover {
  text-decoration: underline;
}
.tour_detail-wrap .support {
  background-color: #fff;
  padding: 15px;
  border-left: #e8e8e8 1px solid;
  position: relative;
}
.tour_detail-wrap .support .title {
  font-size: 1.5rem;
}
.tour_detail-wrap .support:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 2px;
  height: 52px;
  background: #00833e;
}
.tour_detail-wrap .support ul li {
  border-top: #e8e8e8 1px solid;
  padding: 20px 0 25px 30px;
}
.tour_detail-wrap .support ul li i {
  margin-right: 15px;
  color: #00833e;
}
.tour_detail-wrap .slick-prev,
.tour_detail-wrap .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.tour_detail-wrap .slick-prev {
  left: 0;
}
.tour_detail-wrap .slick-next {
  right: 0;
}
.tour_detail-wrap .tour-gallery-nav .slick-slide {
  opacity: .6;
}
.tour_detail-wrap .tour-gallery-nav .slick-slide.slick-current {
  opacity: 1;
}
.tour_detail-wrap .tour-gallery-nav .slick-slide img {
  width: 100%;
}
.price-wrap .price-include {
  margin-bottom: 30px;
}
.price-wrap .title {
  display: flex;
  font-size: 18px;
}
.price-wrap .title i {
  margin-right: 10px;
}
.price-wrap .content {
  padding-left: 20px;
}
/******************************* 
======== SEARCH PAGE ============
/*******************************/
.search-wrap {
  background-color: #f5f5f5;
}
.search-wrap .frm-search {
  background-color: #fff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}
.search-wrap .frm-search .filtertip {
  height: 70px;
  background: #00833e;
  color: #fff;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.search-wrap .frm-search .filtertip:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 10px solid #00833e;
}
.search-wrap .frm-search .filtertip strong {
  font-size: 22px;
  padding: 0 5px;
}
.search-wrap .frm-search .filtertip i {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  margin-right: 5px;
}
.search-wrap .frm-search .filter-item {
  padding: 15px;
}
.search-wrap .frm-search .filter-item label {
  font-weight: bold;
}
.search-wrap .frm-search .filter-item .form-control {
  background-color: #f3f3f3;
  color: #7f7f7f;
  padding: 10px 15px;
  border-radius: 0;
  height: auto;
}
.search-wrap .frm-search .filter-item .ui-widget-header {
  background: #00833e;
}
.search-wrap .frm-search .filter-item .ui-widget-content {
  background-color: #ebeef2;
  border: none;
  border-radius: 0;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  margin-left: 10px;
}
.search-wrap .frm-search .filter-item .ui-widget-content .ui-state-default {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #00833e;
  background-color: #f5f5f5;
  outline: unset;
}
.search-wrap .frm-search .filter-item .ui-widget-content .ui-state-default.ui-state-active {
  background-color: #00833e;
}
.search-wrap .frm-search .form-check {
  display: flex;
  align-items: center;
}
.search-wrap .frm-search .form-check input {
  margin-top: 0;
}
.search-wrap .frm-search .form-check .form-check-label {
  font-weight: normal;
}
.search-wrap .frm-search .form-check .rating-stars {
  display: flex;
  align-items: center;
}
.search-wrap .frm-search .form-check .rating-stars i {
  width: 24px;
  color: #e0e0e0;
}
.search-wrap .frm-search .form-check .rating-stars i.vote {
  color: #fbde00;
}
.search-wrap .frm-search .form-check .rating-stars span {
  margin-left: 5px;
}
.search-wrap .frm-search .slide-range {
  border: none;
  color: #8b8b8b;
}
.search-wrap .frm-search .btn-search {
  width: 100%;
  border-radius: 0;
}
.search-wrap .filter-results {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}
.search-wrap .tours-list {
  padding: 15px;
}
.search-wrap .tours-list .tour-item {
  background-color: #f2f2f2;
}
.search-wrap .sort-by-section {
  padding: 0 15px;
}
.sort-by-section .sort-bar {
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.sort-by-section .sort-item {
  margin-right: 5px;
  margin-left: 5px;
}
.sort-by-section .sort-item select {
  width: 168px;
}
.sort-by-section .sort-by-title {
  font-size: 1rem;
  margin-bottom: 0;
}
/****************************
====== BOOKING PAGE =========
****************************/
.booking-wrap {
  background-color: #f5f5f5;
}
.booking-wrap .booking-title {
  background-color: #00833e;
  color: #fff;
  padding: 15px 20px;
}
.booking-wrap .booking-title h3 {
  font-size: 18px;
  margin: 0;
}
.booking-wrap .booking-info,
.booking-wrap .booking-payment {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}
.booking-wrap .booking-content,
.booking-wrap .payment-content {
  padding: 20px;
}
.booking-wrap .booking-info label {
  font-weight: bold;
}
.booking-wrap .booking-info .info-item {
  position: relative;
}
.booking-wrap .booking-info .info-item i {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: #7f7f7f;
  padding: 5px;
}
.booking-wrap .booking-info .form-control {
  border-radius: 0;
  padding-left: 30px;
}
.booking-wrap .booking-info .btn-booking {
  padding: 10px 25px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffcb05;
  min-width: 300px;
  border-radius: 0;
}
.booking-wrap .booking-info .booking-note {
  font-size: 13px;
  color: #7f7f7f;
}
.booking-wrap .booking-info .booking-note strong {
  font-size: 14px;
  color: #00833e;
}
.booking-wrap .booking-payment .quick-tour-info img {
  width: 100%;
}
.booking-wrap .booking-payment .quick-tour-info .tour-detail {
  padding: 15px 15px 0;
}
.booking-wrap .booking-payment .quick-tour-info .tour-detail .tour-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.booking-wrap .booking-payment .quick-tour-info .tour-detail .detail-item {
  margin-bottom: 10px;
}
.booking-wrap .booking-payment .quick-tour-info .tour-detail i {
  font-size: 18px;
  margin-right: 4px;
  color: #7f7f7f;
  vertical-align: middle;
}
.booking-wrap .booking-payment .quick-tour-info hr {
  margin-bottom: 0;
}
.booking-wrap .booking-payment .row-money {
  display: flex;
  justify-content: space-between;
}
.booking-wrap .booking-payment .row-money span {
  font-size: 18px;
}
/******************************* 
====== BOOKING SUCCESS PAGE =====
/*******************************/
.booking_success-wrap .wrap {
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
}
.booking_success-wrap .wrap .alert-success {
  border-radius: 0;
}
.booking_success-wrap .wrap .alert-success p {
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
}
.booking_success-wrap .wrap .title {
  background-color: #1fab1e;
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
}
.booking_success-wrap .wrap .title i {
  vertical-align: middle;
  margin-right: 5px;
}
.booking_success-wrap .wrap .table {
  border: 1px solid #ddd;
  padding: 15px;
}
.booking_success-wrap .wrap .table tr:nth-child(2n) {
  background-color: #f9f9f9;
}
/******************************* 
============= BLOG =============
/*******************************/
.blog-item {
  position: relative;
}
.blog-item + .blog-item {
  margin-top: 30px;
}
.blog-item .blog-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 0;
}
.blog-item .blog-title a {
  color: #252525;
}
.blog-item .blog-title a:hover,
.blog-item .blog-title a:focus {
  color: #00833e;
}
.blog-item .blog-media img {
  width: 100%;
}
.blog-item .entry-date {
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 16px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 13px;
  margin: 0;
  display: flex;
  align-items: center;
}
.blog-item .entry-date .entry-day {
  margin-left: 3px;
}
.blog-item .entry-date .entry-month {
  margin-left: 3px;
}
.blog-header {
  margin-bottom: 15px;
}
.blog-header .grid-view {
  display: flex;
  align-items: center;
}
.blog-header .grid-view .view {
  color: #777;
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 2px;
  width: 30px;
  height: 30px;
}
.blog-header .grid-view .view + .view {
  margin-left: 5px;
}
.blog-header .grid-view .view.active {
  color: #252525;
  border-color: #252525;
  pointer-events: none;
}
.blog-header .grid-view .view:hover {
  color: #252525;
}
.blog-container {
  padding-bottom: 30px;
}
.blog-container .blog-header .blog-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.blog-container .blog-info {
  padding: 10px 0;
  color: #777;
}
.blog-container .blog-info a {
  color: #777;
}
.blog-container .blog-info span + span {
  margin-left: 15px;
}
.blog-container .blog-content {
  text-align: justify;
}
.blog-container .blog-footer .social {
  display: flex;
}
.blog-container .blog-footer .social li + li {
  margin-left: 3px;
}
.blog-right .box .box-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.blog-right .tour-item + .tour-item {
  margin-top: 20px;
}
.blog-pagination {
  margin-top: 30px;
}
.blog-pagination .pagination {
  justify-content: center;
}
.blog-pagination .pagination li {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 35px;
  line-height: 33px;
  margin: 0 5px 0 0;
  padding: 0 9px;
  width: 35px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-pagination .pagination li a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #252525;
}
.blog-pagination .pagination li.active,
.blog-pagination .pagination li:hover {
  background-color: #00833e;
  border: 1px solid #00833e;
}
.blog-pagination .pagination li.active a,
.blog-pagination .pagination li:hover a {
  color: #fff;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.jssora13l,
.jssora13r,
.jssora13ldn,
.jssora13rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../img/a10.png) no-repeat;
  overflow: hidden;
}
.jssora13l {
  background-position: -10px -35px;
  width: 40px;
  height: 50px;
  top: 123px;
  left: 30px;
}
.jssora13r {
  background-position: -70px -35px;
  width: 40px;
  height: 50px;
  top: 123px;
  right: 30px;
}
.jssora13l:hover {
  background-position: -130px -35px;
}
.jssora13r:hover {
  background-position: -190px -35px;
}
.jssora13ldn {
  background-position: -250px -35px;
}
.jssora13rdn {
  background-position: -310px -35px;
}
@media screen and (max-width: 576px) {
  .search-tour form {
    flex-direction: column;
  }
  .search-tour .form-group {
    width: 100%;
  }
  .search-tour select,
  .search-tour input,
  .search-tour button {
    width: 100%;
  }
  .sort-by-section .sort-item {
    width: 100%;
  }
  .sort-by-section .sort-item:first-child {
    display: none;
  }
  .sort-by-section .sort-item select {
    width: 100%;
  }
  .tour-item.vertical .wrap {
    display: block;
  }
  .tour-item.vertical .tour-media,
  .tour-item.vertical .tour-detail {
    width: 100%;
    max-width: unset;
  }
}
