body {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.25;
  color: #a1a1e5;
  background: #2f296b;
  min-height: 100vh;
}
.site-login {
  padding: 2.5rem;
}
.site-login .card {
  font-size: 1rem;
  line-height: 1.25;
  background: #3d3780;
  color: #d1d1ff;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
  box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
  font-weight: 400;
  border: 0 solid #3d3780;
  scrollbar-face-color: #554db3;
  scrollbar-track-color: #332e73;
}
.site-login .card-body {
  height: calc(100vh - 2 * 2.5rem);
  width: 500px;
  margin: auto;
}
.site-login .title {
  margin-top: 0;
  margin-bottom: .75rem;
  text-align: center;
}
.site-login form input {
  background-color: #37317a;
  border: 2px solid #342e73;
  color: #fff;
}
.site-login form button {
  color: #fff;
  background-color: #0b6;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.site-login form button:focus {
  color: #fff;
  background-color: #24de8a;
}
.site-login form .help-block-error {
  color: #ff386a;
}
